<h1>Games#index</h1>
<div class="g-search">
  <%= form_tag games_path, 'data-reflex':"submit->GameReflex#search",  method: :get do %>
    <%= text_field_tag :search, params[:search] %>
  <% end %>
</div>


<div class= "cards">
  <% @games.each do |game|  %>
  <div class="g-card"> 
    <%= image_tag  "gfn-placeholder.jpg", class: "cover-img" %>
    <p><%= game["title"] %>  (<%= game.store %>)</p> 
  </div>
  <% end %>
</div>