<h1>Results for "<%= params[:search] %>"" </h1>
<div class="g-search">
  <%= form_tag games_path,  method: :get do %>
    <%= text_field_tag :search, params[:search] %>

    <%# select_tag :genre, options_for_select( Game.all_genres, params[:genre] ) %>

    <%# select_tag :store, options_for_select( ["Action"] ) %>
  <% end %>
</div>

<%= paginate @games %>

<div class= "cards">
  <% @games.each do |game|  %>
    <%= render partial: "games/card", locals: { game: game} %>
  <% end %>
</div>


<%= paginate @games %>