<!DOCTYPE html>
<html>
  <head>
    <title>GfnLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="nav">
    <div class='nav-home'>
      <%= link_to 'Home', root_path %>
    </div>
    <div class='nav-games'>
      <%= link_to 'Games', games_path%>
    </div>
  </header>

  <body class="">
    <%= yield %>
  </body>

  <footer class="footer"> 
    <%# Add Footer details here %>
    <p> © 2021 - All Rights reserved </p>
    <p>Built by  <%= link_to 'Jameel Tomlinson', "https://www.linkedin.com/in/jameel-tomlinson-7b3379203/" %> </p> 
  </footer>
</html>
